@import "<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>";

.dan{
	margin:0 auto;
	font-size:40px;
	color: black;
	font-family: 'Indie Flower', cursive;
}
#iwao{
	margin:0 auto;
	font-size:40px;
	color: black;
	font-family: 'Indie Flower', cursive;
}